<header class="flex items-center justify-between whitespace-nowrap border-b border-solid border-b-[#363636] px-10 py-3">
  <div class="flex items-center gap-4 text-white">
    <div class="size-12">
      <a href="index.html">
        <img src="/images/vortex.png" alt="stylized swirling vortex logo representing Vortexy Aether with a dynamic and energetic design on a neutral background" class="w-full h-full object-cover"/>
      </a>
    </div>
    <h2 class="text-white text-lg font-bold leading-tight tracking-[-0.015em]">Vortexy Aether</h2>
  </div>
  <div class="flex flex-1 justify-end gap-8">
    <div class="flex items-center gap-9">
      <a class="text-white text-sm font-medium leading-normal" href="index.html">Home</a>
      <a class="text-white text-sm font-medium leading-normal" href="projects.html">Projects</a>
      <a class="text-white text-sm font-medium leading-normal" href="contact.html">Contact</a>
      <a class="text-white text-sm font-medium leading-normal" href="blog.html">Blog</a>
      <!-- Profile Picture -->
      <div class="bg-center bg-no-repeat aspect-square bg-cover rounded-full size-10"
           style='background-image: url("/images/profile.png");'>
      </div>
    </div>
  </div>
</header>
